@import '../../../vars.scss';

.main {
  height: 100vh;
  width: 100vw;
  background-image: url('../../../assets/pictures/startup-594091_1920.jpg');
	background-size: cover;
	background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0px;
  border: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgba(20,20,20, .7); // Tint color
  background-blend-mode: multiply;
  caret-color: white;
}

.secondary {
  background-color: beige;
}

p {
  color: white;
  font-family: $questerial;
  font-size: 1.5em;
  text-indent: 50px;
}

a {
  color: black;
  font-family: $questerial;
  font-size: 1.5em;
}

h1, h2 {
  color: white;
  font-family: $questerial;
}

.title-text {
  font-size: 2.5em;
  text-align: center;
}

.subtitle-text {
  font-size: 2.0em;
  text-align: center;
}

.bottom {
  position: absolute;
  bottom: 75px;
}

.button {
  color: black;
  font-family: $questerial;
  font-size: 32px;
  border: black;
  border-style: solid;
}

.desc {
  color: black !important;
  font-family: $questerial !important;
  text-indent: 0px !important;
}
