@import '../../../vars.scss';

.main {
  height: calc(100vh - 56px);
  width: 100vw;
  background-image: url('../../../assets/pictures/startup-594091_1920.jpg');
	background-size: cover;
	background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0px;
  border: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgba(20,20,20, .7); // Tint color
  background-blend-mode: multiply;
  caret-color: white;
}

h1, h2 {
  color: white;
  font-family: $questerial;
}

.button-text {
  font-size: 24px;
  color: white !important;
  font-family: $questerial;
}

.placeholder {
  width: 20px;
  height: 20px;
}

.title-text {
  font-size: 64px;
  text-align: center;
}

.subtitle-text {
  font-size: 48px;
  text-align: center;
}

.white {
  caret-color: white !important;
}

label {
  color: white;
}

.bottom {
  position: absolute;
  bottom: 75px;
}

.button {
  color: white;
  font-family: $questerial;
  font-size: 32px;
}

table {
  width: 100%;
}

.code-input {
  min-width: 150px;
  max-width: 600px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.placeholder {
  width: 30px;
  height: 30px;
}

:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: white !important;
}

.load-program {
  font-size: 20px;
}

.login-button {
  width: 180px;
}

:host ::ng-deep .mat-form-field-flex{
  border: 2px solid white;
  border-radius: 4px !important;
  color: white;
  padding-left: 6px;
  padding-top: 4px;
}


:host ::ng-deep .ng-tns-c6-1 .ng-star-inserted {
  color: white;
}

:host ::ng-deep .ng-tns-c6-10 .ng-star-inserted {
  color: white;
}

:host ::ng-deep .ng-tns-c6-18 .ng-star-inserted {
  color: white;
}

:host ::ng-deep .mat-form-field-infix {
  color: white !important;
}

:host ::ng-deep span {
  color: white;
}

:host ::ng-deep .mat-form-field-label {
  color: white;
}

:host ::ng-deep .mat-form-field-underline {
  visibility: hidden;
}

.icon {
  color: black;
}

.table-container{
  max-width: 1000px;
  overflow: auto;
}
