<div class="main p-sm" fxLayoutAlign="center start">
  <div class="login-box w-100" fxLayout="column" fxLayoutAlign="center center" *ngIf="!registered">
    <h1 class="mt-sm bm-sm mlr-auto">Register Account</h1>
    <form class="login-form w-100" fxLayout="column" fxLayoutAlign="center center" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="w-100 mb-xs" appearance="fill">
        <mat-label class="white">Email:</mat-label>
        <input [errorStateMatcher]="matcher2" type="text" formControlName="email" class="form-control white" matInput/>
        <mat-error>Please enter a valid email address</mat-error>
      </mat-form-field>
      <mat-form-field class="w-100 mb-xs" appearance="fill">
        <mat-label class="white">Username:</mat-label>
        <input [errorStateMatcher]="matcher2" type="text" formControlName="username" class="form-control white" matInput/>
      </mat-form-field>
      <mat-form-field class="w-100 mb-xxs" appearance="fill">
        <mat-label class="white">Password:</mat-label>
        <input type="password" formControlName="password" class="form-control white" matInput/>
      </mat-form-field>
      <mat-form-field class="w-100 mb-xxs" appearance="fill">
        <mat-label class="white">Confirm Password:</mat-label>
        <input [errorStateMatcher]="matcher" type="password" formControlName="confirmPassword" class="form-control white" matInput/>
        <mat-error>Passwords must match</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" class="mb-xs mt-xs w-100" [disabled]="loginForm.pristine || loginForm.invalid">
        <div class="login-button" type="submit" fxLayout="row" fxLayoutAlign="center center">
          <div class="placeholder mr-sm"></div>
          <h1>Create Account</h1>
          <mat-spinner [diameter]="20" class="ml-sm" *ngIf="loading"></mat-spinner>
          <div class="placeholder ml-sm" *ngIf="!loading"></div>
        </div>
      </button>
    </form>
    <button mat-button (click)="login()" class="mlr-auto mt-sm white subtitle">Have an account? Click Here</button>
  </div>
  <div class="confirm-box w-100" fxLayout="column" fxLayoutAlign="center center" *ngIf="registered">
    <h1 class="mt-sm bm-sm mlr-auto">Thank You for Registering!</h1>
    <h2 class="mt-sm bm-sm mlr-auto">Please check your email to complete registration.</h2>
    <h2 class="mt-sm bm-sm mlr-auto">Make sure to check your Junk or Spam mailbox if you do not see a message from VastDime.</h2>
      <button mat-raised-button (click)="login()" color="primary" class="mb-xs mt-xs" style="max-width: 37%">
        <div class="login-button" type="submit" fxLayout="row" fxLayoutAlign="center center">
          <h1>Done? Login</h1>
        </div>
      </button>
  </div>
</div>
