<div class="button-row" fxLayout="row">
  <button mat-button (click)="save()" *ngIf="loggedIn">Save</button>
  <button mat-button (click)="saveAs()" *ngIf="loggedIn">Save as</button>
  <button mat-button [matMenuTriggerFor]="privacyMenu" *ngIf="owner">Privacy</button>
  <p class="mb-0 not-logged-in" *ngIf="!loggedIn">Currently not logged in</p>
  <button mat-button class="ml-auto mr-xs" (click)="login()" *ngIf="!loggedIn">Login</button>
  <mat-menu #privacyMenu="matMenu">
    <button mat-menu-item (click)="listCode()"><span class="text-black">Make Public</span></button>
    <button mat-menu-item (click)="unListCode()"><span class="text-black">Make Unlisted</span></button>
    <button mat-menu-item (click)="privateCode()"><span class="text-black">Make Private</span></button>
  </mat-menu>
  <div fxLayoutAlign="center center" *ngIf="owner || !this.title">
    <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedLanguage" *ngFor="let lang of languages">
      <mat-radio-button (click)="setAce(lang)" class="capitalize selector mr-xs" value="{{ lang }}">{{ lang }}</mat-radio-button>
    </mat-radio-group>
  </div>
  <button mat-button (click)="share()" class="ml-auto mr-xs" *ngIf="owner">Share</button>
</div>
<div id="parent">
  <div id="javascript-editor"></div>
</div>
