<div class="main p-sm" fxLayout="column" fxLayoutAlign="start center">
  <div class="title mt-lg">
      <h1 class="title-text mlr-auto mt-xs mb-sm">VastDime</h1>
      <h2 class="subtitle-text mlr-auto">Collaberation Reimagined</h2>
  </div>
  <div class="bottom mlr-auto" fxLayout="column" fxLayoutAlign="start center">
    <button (click)="login()" class="button p-xs mb-xs" mat-button>Login</button>
    <button (click)="register()" class="button p-xs" mat-button>Register</button>
  </div>
</div>
