<div class="main p-sm fade-in-fast" fxLayout="column" id="top" fxLayoutAlign="start center">
  <div class="title mt-lg">
    <h1 class="title-text questerial mlr-auto mt-xs mb-sm">VastDime</h1>
    <h2 class="subtitle-text questerial mlr-auto">Collaboration Reimagined</h2>
  </div>
  <button (click)="scroll()" class="button learn p-xs mlr-auto" mat-button>Learn More</button>
  <div class="bottom mlr-auto" fxLayout="column" fxLayoutAlign="start center">
    <button (click)="login()" class="button p-xs mb-xs" mat-button>Login</button>
    <button (click)="register()" class="button p-xs mb-xs" mat-button>Register</button>
  </div>
</div>
<div class="secondary" id="bottom">
  <div fxLayout="column" class="mlr-auto">
    <h1 class="title-text2 mlr-auto mt-sm mb-xs">Our Mission</h1>
    <p class="mlr-auto mt-xs mb-xs" style="max-width: 70%; text-align: center;">VastDime was created by Martin Smolka and Arnav Goswami in an attempt to provide an easy to use experience for individuals and collaborators to upload and share neat functions and snippets of code.</p>
    <p class="mlr-auto mt-xs mb-xs" style="max-width: 70%; text-align: center;">VastDime allows for an easy way to save, load, and share any code published online, along with privacy options, allowing users to keep sensitive code private.</p>
    <p class="mlr-auto mt-xs mb-xs" style="max-width: 70%; text-align: center;">Martin and Arnav are both Computer Science students at the University of North Carolina at Chapel Hill, and wanted a location to store their code that is not as professional or high profile as GitHub, and thus, VastDime was born.</p>
  </div>
  <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="center start" class="mlr-auto mb-sm w-100">
    <div fxLayout="column" class="mlr-auto mt-sm" fxFlex="50" fxFlex.gt-xs="100" fxLayoutAlign="center start">
      <img class="mlr-auto" src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/12987107_606354459518622_7629002598786069170_n.jpg?_nc_cat=109&_nc_ohc=ns3aFI66zaUAQkKcDS6AFuaFexdaLIYyl7tAXnXNOpVctJ3fwlhvD9hGg&_nc_ht=scontent-iad3-1.xx&oh=7ddc0857dcb18d99bf08f70f743da4ea&oe=5E4191DC" alt="Martin Smolka" height="250" width="250">
      <a href="https://github.com/myusername38" class="mlr-auto mt-xs">Martin's Personal GitHub</a>
      <div class="description mlr-auto">
        <p class="mlr-auto mt-sm mb-xs">Martin is from Hickory, North Carolina and completing his undergrad in computer science at UNC. Last summer Martin was an intern at OrangeBees and is currently employed as an undergraduate researcher in the Biomedical Engineering department. When he is not studying, Martin likes to ski on either water or snow.</p>
      </div>
    </div>
    <div fxLayout="column" class="mlr-auto mt-sm" fxFlex="50" fxFlex.gt-xs="100" fxLayoutAlign="center start">
      <img class="mlr-auto" src="https://scontent-iad3-1.xx.fbcdn.net/v/t31.0-8/12068929_927122910658380_7650148420340154602_o.jpg?_nc_cat=104&_nc_ohc=cKXKmmrTiV4AQm9ZdPtPpnmhu30ZwOe1XJ1IIE3UJ2DYmAce2tGLsqnkw&_nc_ht=scontent-iad3-1.xx&oh=b6304172dbf14bf815611e3a24380f09&oe=5E7E196C" alt="Arnav Goswami" height="250" width="250">
      <a href="https://github.com/arnavg98" class="mlr-auto mt-xs">Arnav's Personal GitHub</a>
      <div class="description mlr-auto pl-lg">
        <p class="mlr-auto mt-sm mb-xs">Arnav is from Raleigh, North Carolina and is currently studying computer science at UNC. When he is not at school, he loves to watch football and play with his dog.</p>
      </div>
    </div>
  </div>
  <div fxLayout="column">
    <button (click)="home()" class="button2 p-xs mlr-auto mb-xs" mat-button>Return To Top</button>
  </div>
</div>
