<div class="main p-sm" fxLayout="column" fxLayoutAlign="start center">
  <div class="mt-sm">
    <h2 class="subtitle-text mlr-auto">Load Existing Program</h2>
  </div>
  <div class="table-container w-100">
    <mat-table fxFlexAlign="column" [dataSource]="publicCode" matSortActive="date" matSortDirection="asc">
      <ng-container cdkColumnDef="title">
        <mat-header-cell fxFlex="30" *cdkHeaderCellDef mat-sort-header="title">Program</mat-header-cell>
        <mat-cell fxFlex="30" *cdkCellDef="let row">{{ row?.title }}</mat-cell>
      </ng-container>
      <ng-container class="description" cdkColumnDef="description">
        <mat-header-cell fxFlex="30" *cdkHeaderCellDef mat-sort-header="descrip">Description</mat-header-cell>
        <mat-cell class="ellipsis" fxFlex="30" *cdkCellDef="let row">{{ row?.description }}</mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="username">
        <mat-header-cell fxFlex="20" *cdkHeaderCellDef mat-sort-header="author">Author</mat-header-cell>
        <mat-cell class="ellipsis" fxFlex="20" *cdkCellDef="let row">{{ row?.username }}</mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="date">
        <mat-header-cell fxFlex="12" *cdkHeaderCellDef mat-sort-header="date">Edited</mat-header-cell>
        <mat-cell class="ellipsis" fxFlex="12" *cdkCellDef="let row">{{ row?.lastEdited | date: 'shortDate' }}</mat-cell>
      </ng-container>
      <ng-container class="end" cdkColumnDef="view" stickyEnd>
        <mat-header-cell fxFlex="8" class="pr-0" *cdkHeaderCellDef></mat-header-cell>
        <mat-cell fxFlex="8" class="pr-0" fxLayoutAlign="center center" *cdkCellDef="let row">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="View Program">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button (click)="loadProgram(row?.username, row?.title)" mat-menu-item>Load Code</button>
          </mat-menu>
        </mat-cell>
      </ng-container>
      <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *cdkRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
</div>
