@import '../../../vars.scss';

.main {
  height: 100vh;
  width: 100vw;
  background-image: url('../../../assets/pictures/login-picture.jpg');
	background-size: cover;
	background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0px;
  border: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgba(20,20,20, .65); // Tint color
  background-blend-mode: multiply;
  caret-color: white;
}

.login-box {
  max-width: 600px;
  margin-top: 40px;
  @media screen and (min-width: $screen-small){
    margin-top: 15vh;
  }
}

.white{
  color: white;
}

.placeholder {
  width: 20px;
  height: 20px;
}

:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: white !important;
}

h1 {
  color: white;
  font-family: $questerial;
}


:host ::ng-deep .mat-form-field-underline {
  visibility: hidden;
}

:host ::ng-deep .mat-form-field-flex{
  border: 2px solid white;
  border-radius: 4px !important;
}

input {
  caret-color: white;
}

.subtitle {
  font-size: $font-md;
  font-family: $questerial;
}
