/* Component shrinking pixel numbers */
$screen-shrink: 1000px;
$screen-small: 600px;
$screen-extra-small: 400px;

$component-max-width: 1000px;

$primary-color: #FEB114;
$accent-color: #919191;
$warn-color: #FE4114;
$background-color: #4D4D4D;

/* Spacing */
$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-lg: 3rem;
$spacing-xl: 4rem;

$border-width: 2px;

$font-xs: 0.5rem;
$font-sm: 1rem;
$font-md: 1.25rem;
$font-lg: 2rem;

$small: 4px;
$medium: 8px;
$large: 12px;
$xl: 16px;

$questerial: 'Questrial', sans-serif;
