<div class="w-100 mb-sm" fxLayoutAlign="end center">
  <button (click)="close()" class="exit-icon" mat-icon-button><mat-icon>clear</mat-icon></button>
</div>
<h1 class="mt-0 mb-xs mlr-auto">Save Program</h1>
<form class="login-form w-100" fxLayout="column" fxLayoutAlign="center center" [formGroup]="saveForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="w-100 mb-xs" appearance="fill">
    <mat-label class="white">Program title:</mat-label>
    <input type="text" formControlName="title" class="form-control white" matInput/>
  </mat-form-field>
  <mat-form-field class="w-100 mb-xs" appearance="fill">
    <mat-label class="white">Description:</mat-label>
    <input type="text" formControlName="description" class="form-control white" matInput/>
  </mat-form-field>
  <div class="w-100" fxLayoutAlign="start center">
    <label>Accessiblity: </label>
    <mat-radio-group formControlName="visibility">
      <mat-radio-button class="ml-xs mr-xs" value="public">Public</mat-radio-button>
      <mat-radio-button class="mr-xs"value="unlisted">Unlisted</mat-radio-button>
      <mat-radio-button value="private">Private</mat-radio-button>
    </mat-radio-group>
  </div>
  <button mat-raised-button color="primary" class="mb-xs mt-xs w-100" [disabled]="saveForm.invalid">
    <div class="login-button" type="submit" fxLayout="row" fxLayoutAlign="center center">
      <div class="placeholder mr-sm"></div>
      <h1>Save</h1>
      <mat-spinner [diameter]="20" class="ml-sm" *ngIf="loading"></mat-spinner>
      <div class="placeholder ml-sm" *ngIf="!loading"></div>
    </div>
  </button>
</form>
