@import '../../../vars.scss';

.exit-icon {
  margin-right: -25px;
  margin-top: -25px;
}

.placeholder {
  width: 20px;
  height: 20px;
}

:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: white !important;
}
