<div class="main p-sm" fxLayoutAlign="center start">
  <div class="login-box w-100" fxLayout="column" fxLayoutAlign="center center" *ngIf="!resetSent">
    <h1 class="mt-sm bm-sm mlr-auto">Reset Password</h1>
    <form class="login-form w-100" fxLayout="column" fxLayoutAlign="center center" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="w-100 mb-xs" appearance="fill">
        <mat-label class="white">Account Email:</mat-label>
        <input [errorStateMatcher]="matcher2" type="text" formControlName="email" class="form-control white" matInput/>
        <mat-error>Please enter a valid email address</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" class="mb-xs mt-xs w-100" [disabled]="resetForm.pristine || resetForm.invalid">
        <div class="login-button" type="submit" fxLayout="row" fxLayoutAlign="center center">
          <div class="placeholder mr-sm"></div>
          <h1>Send Recovery Email</h1>
          <mat-spinner [diameter]="20" class="ml-sm" *ngIf="loading"></mat-spinner>
          <div class="placeholder ml-sm" *ngIf="!loading"></div>
        </div>
      </button>
    </form>
    <button mat-button (click)="login()" class="mlr-auto mt-sm white subtitle">Have an account? Click Here</button>
  </div>
  <div class="confirm-box w-100" fxLayout="column" fxLayoutAlign="center center" *ngIf="resetSent">
    <h1 class="mt-sm bm-sm mlr-auto">Recovery Email Sent!</h1>
    <h2 class="mt-sm bm-sm mlr-auto">Please check your email to change your password.</h2>
    <h2 class="mt-sm bm-sm mlr-auto">Make sure to check your Junk or Spam mailbox if you do not see a message from VastDime.</h2>
    <button mat-raised-button (click)="login()" color="primary" class="mb-xs mt-xs" style="max-width: 37%">
      <div class="login-button" type="submit" fxLayout="row" fxLayoutAlign="center center">
        <h1>Go back to login</h1>
      </div>
    </button>
  </div>
</div>
